<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.dao.board_mapper">
<!--  목록 -->

<!-- <select id="boardListData" resultType="Board" parameterType="java.util.Map">
	SELECT sa_img, b_no, b_title, b_id, dbday, b_hit, b_delete, num
	FROM (SELECT b_no, b_title, b_id, To_char(b_date,'YYYY-MM-DD')as dbday, b_sano
			, b_hit, b_delete, rownum as num
	FROM (SELECT b_no, b_title, b_id, b_date, b_hit, b_delete, b_sano
	FROM p_board)) b LEFT OUTER JOIN b_Word w
	ON b.b_sano=w.sa_no
	WHERE b_delete='n' AND num BETWEEN #{start} AND #{end} ORDER BY b_no DESC
</select> -->
<!-- 회원조회 -->
<select id="boardListData" resultType="Board" parameterType="java.util.Map">
SELECT b_sano, b_no, b_id, b_title, dbday, b_hit, b_delete, num
FROM(SELECT b_sano, b_no, b_id, b_title, TO_char(b_date,'YYYY-MM-DD')as dbday, b_hit, 
			b_delete, rownum as num
	FROM(SELECT b_sano, b_no, b_id, b_title, b_date, b_hit, b_delete
			FROM p_board WHERE b_sano=4
    ORDER BY b_no DESC))
WHERE b_delete='n' AND b_sano=4 AND num BETWEEN #{start} AND #{end}
</select>
<!-- 관리자 조회 -->
<select id="board_mListData" resultType="Board" parameterType="java.util.Map">
SELECT a.b_no, a.b_id, a.b_title, a.b_content, a.b_sano, a.b_delete, b.sa_img, dbday, a.b_hit, num
FROM(SELECT b_no, b_id, b_title, b_content, To_char(b_date,'YYYY-MM-DD')as dbday ,b_hit, b_sano, b_delete, rownum as num
     FROM (SELECT b_no, b_id, b_title, b_content,b_date, b_hit, b_sano, b_delete
           FROM p_board 
           WHERE b_delete = 'n' AND b_sano not in(4)
           ORDER BY b_no desc)) a JOIN b_word b 
           ON a.b_sano = b.sa_no
WHERE num BETWEEN 1 AND 5
</select>
<!-- 총페이지 구하기 -->
<select id="boardRowCount" resultType="int">
	SELECT COUNT(*) FROM p_board WHERE b_delete='n' AND b_sano=4
</select>
<!-- 삽입 -->
<insert id="boardInsert">
	<selectKey keyProperty="b_No" resultType="int" order="BEFORE">
		 SELECT NVL(MAX(b_no)+1,1) as b_no FROM p_board
	</selectKey>
	INSERT INTO p_board values(#{b_no},#{b_id},#{b_title},#{b_content},0,0,SYSDATE,'n',#{b_sano})
</insert>
<!-- 반복 수행 태그 -->
<sql id="where-b_no">
	WHERE b_no=#{b_no}
</sql>

<!-- 상세보기 -->
<!-- 조회수 증가 -->
<update id="boardHitIncrement" parameterType="int">
	UPDATE p_board SET b_hit=b_hit+1 <include refid="where-b_no"/>
</update>
<!-- 내용보기 -->
<select id="boardContentData" resultType="Board" parameterType="int">
	SELECT b_no,b_id,b_title,b_date,b_hit,b_content
	FROM p_board
	<include refid="where-b_no"/> 
</select>

<!-- 수정하기 -->
<update id="boardUpdate" parameterType="Board">
	UPDATE p_board SET
	b_title=#{b_title},b_content=#{b_content},b_date=SYSDATE
	<include refid="where-b_no"/>
</update>

<!-- 삭제하기 -->
<update id="boardDelete" parameterType="Board">
	UPDATE p_board SET
	b_delete='y'
	<include refid="where-b_no"/>
</update>

<!-- 댓글형 게시판 -->
<!-- 댓글 갯수 -->
<select id="boardReplyCount" resultType="int" parameterType="int">
	SELECT COUNT(*) FROM re_board WHERE rw_delete='n' AND  rw_bno=#{rw_bno}
</select>
<!-- 댓글 게시판 목록 -->
<select id="reboardListData" resultType="Reply" parameterType="int">
	SELECT rw_no,rw_id,rw_content,TO_CHAR(rw_date,'YYYY-MM-DD HH24:MI:SS') as dbday,rw_delete,group_tab,depth
	FROM re_board
	WHERE rw_delete='n' AND rw_bno=#{rw_bno}
	ORDER BY group_id DESC, group_step ASC
</select>

<!--새로운 댓글 올리기 -->
<insert id="reboardNewInsert" parameterType="Reply">
	<selectKey keyProperty="rw_no" resultType="int" order="BEFORE">
		 SELECT NVL(MAX(rw_no)+1,1) as rw_no FROM re_board
	</selectKey>
	INSERT INTO re_board VALUES(#{rw_no},0,#{rw_content},#{rw_id},SYSDATE,'n',
	#{rw_bno},(SELECT NVL(MAX(group_id)+1,1) FROM re_board),0,0,0,0)
</insert>

<!-- 댓글 수정하기 -->
<update id="reboardReUpdate" parameterType="Reply">
	UPDATE re_board SET
	rw_content=#{rw_content}
	WHERE rw_no=#{rw_no}
</update>
<select id="reboardGetDepthRoot" resultType="Reply" parameterType="int">
	SELECT depth, root FROM re_board
	WHERE rw_no=#{rw_no}
</select>
<!--댓글 삭제 -->
 <update id="reboardDelete" parameterType="int">
	UPDATE re_board SET
	rw_delete='y'
	WHERE rw_no=#{rw_no}
</update> 
<update id="reboardMsgUpdate" parameterType="int">
	UPDATE re_board SET
	rw_content='관리자에 의해 삭제된 댓글입니다.'
	WHERE rw_no=#{rw_no}
</update>
<update id="">

</update>
<update id="reboardDepthDecrement" parameterType="int">
	UPDATE re_board SET
	depth=depth-1
	WHERE rw_no=#{rw_no}
</update>
<select id="reboardPageRowCount" resultType="int" parameterType="int">
	SELECT COUNT(*) FROM re_board
	WHERE rw_bno=#{rw_bno} AND rw_delete='n'
</select>
<!-- 댓글의 댓글 -->
<select id="reboardParentInfo" resultType="Reply" parameterType="int">
	SELECT group_id,group_step,group_tab
	FROM re_board
	WHERE rw_no=#{rw_no}
</select>
<update id="reboardStepIncrement" parameterType="Reply">
	UPDATE re_board SET
	group_step=group_step+1
	WHERE group_id=#{group_id} AND group_step>#{group_step}
</update>
<insert id="reboardReInsert" parameterType="Reply">
<selectKey keyProperty="rw_no" resultType="int" order="BEFORE">
	SELECT NVL(MAX(rw_no)+1,1) as rw_no FROM re_board
</selectKey>
	INSERT INTO re_board VALUES(#{rw_no},0,#{rw_content},#{rw_id},SYSDATE,'n',#{rw_bno},
	#{group_id},#{group_tab},#{group_step},#{root},0)
</insert>
<update id="reboardDepthIncrement" parameterType="int">
	UPDATE re_board SET
	depth=depth+1
	WHERE rw_no=#{rw_no}
</update>


</mapper>