<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="index" class="com.main.model.IndexModel"/>	<!-- 첫화면 -->
	<bean id="main" class="com.main.model.MainModel"/>
	
	<!-- 게시판 관련 -->
	<bean id="board_list" class="com.board.model.BoardListModel"/>
	<bean id="board_insert" class="com.board.model.BoardInsertModel"/>
   	<bean id="board_content" class="com.board.model.BoardContentModel"/>
	<bean id="board_update" class="com.board.model.BoardUpdateModel"/>
	<bean id="board_update_ok" class="com.board.model.BoardUpdateOkModel"/>
	<bean id="board_delete" class="com.board.model.BoardDeleteModel"/>
	
	<!-- 게시판 댓글 -->
	<bean id="reboard_new_insert" class="com.board.model.ReBoardNewInsertModel"/>
    <bean id="reboard_re_insert" class="com.board.model.ReBoardReInsertModel"/>
    <bean id="reboard_re_update" class="com.board.model.ReBoardUpdateModel"/>
    <bean id="reboard_delete" class="com.board.model.ReBoardDeleteModel"/>
	
	<!-- 1:1문의 -->
	<bean id="question_insert" class="com.board.model.BoardUpdateModel"/>
	
	
	<!-- 내집 등록 관련 -->
	<bean id="nezip_insert1" class="com.nezip.model.Insert1Model"/>
	<bean id="nezip_insert1process" class="com.nezip.model.Insert1ProcessModel"/>
	<bean id="nezip_insert2" class="com.nezip.model.Insert2Model"/>
	<bean id="nezip_insert2process" class="com.nezip.model.Insert2ProcessModel"/>
	<bean id="nezip_insert3" class="com.nezip.model.Insert3Model"/>
	<bean id="nezip_insert3process" class="com.nezip.model.Insert3ProcessModel"/>
	<bean id="nezip_insert4" class="com.nezip.model.Insert4Model"/>
	<bean id="nezip_insert4process" class="com.nezip.model.Insert4ProcessModel"/>
	<bean id="nezip_insert5" class="com.nezip.model.Insert5Model"/>
	<bean id="nezip_insert5process" class="com.nezip.model.Insert5ProcessModel"/>
	<bean id="nezip_insert6" class="com.nezip.model.Insert6Model"/>
	<bean id="nezip_insert6process" class="com.nezip.model.Insert6ProcessModel"/>
	<bean id="nezip_imageUpload" class="com.nezip.model.ImageUploadModel"/>

	
	
	
	<!-- 내집 예약 관련 -->
	<!-- <bean id="reserve_list" class="com.reserve.model.ListModel"/> -->
	<!-- <bean id="reserve_detail" class="com.reserve.model.DetailModel"/> -->
	<bean id="reserve_list" class="com.reserve.model.ReserveListModel"/>
    <bean id="reserve_detail" class="com.reserve.model.ReserveContentModel"/>
    <bean id="reserve_review_new_insert" class="com.reserve.model.ReviewInsertModel"/>
    <bean id="reserve_review_update" class="com.reserve.model.ReviewUpdateModel"/>
	
	<!-- 우리동네 소개 관련 -->
	<bean id="town_list" class="com.town.model.TownListModel"/>
	<bean id="town_areaCodeAjax" class="com.town.model.AreaCodeAjaxModel"/>
	<bean id="town_categoryCodeAjax" class="com.town.model.CategoryCodeAjaxModel"/>
	<bean id="town_detail" class="com.town.model.TownDetailModel"/>
	
	<!-- join 폴더 관련 -->
	<bean id="join_login" class="com.join.model.LoginModel"/>
	<bean id="join_join" class="com.join.model.JoinModel"/>
	<bean id="join_idSearch" class="com.join.model.IdSearchModel"/>
	
	<!-- mypage 폴더 관련 -->
	<bean id="mypage_jimList" class="com.mypage.model.JimListModel"/>
	<bean id="mypage_profile" class="com.mypage.model.ProfileModel"/>
	<bean id="mypage_profileUp" class="com.mypage.model.ProfileUpModel"/>
	<bean id="mypage_profileOut" class="com.mypage.model.ProfileOutModel"/>
    <bean id="mypage_regCheck" class="com.mypage.model.Reg_checkModel"/>
    
    <!-- 회원가입 -->
	<bean class="com.member.model.MemberJoinModel" id="join" />
	<!-- <bean class="com.member.model.PostFindModel" id="postfind" /> -->
	<bean class="com.member.model.IdCheckModel" id="idcheck" />
	<bean class="com.member.model.MemberJoinOkModel" id="join_ok" />
	
	<!-- 로그인 -->
	<bean id="member_login" class="com.member.model.MemberLoginModel"/>
	<bean id="member_logout" class="com.member.model.MemberLogoutModel"/>
</beans>
