@CHARSET "UTF-8";
@media ( min-width : 300px) {
	.siteline {
		list-style: none;
		float: right;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 10pt;
	}
	.blog_head_login {
	color: #87d54d;
	text-align: center;
	margin-bottom: 1em;
	}
	.form_l{
	border: 2px solid #d2d2d2;
	/* background-repeat: no-repeat; */
	width: 40%;
	margin: 0 auto;
	margin-bottom: 100px;
	}
	
	.form2_l {
		width: 100%;
		/* min-width: 320px; */
		padding-left: 8%;
		padding-right: 8%;
		/* padding-top:35px;
		padding-bottom:35px; */
	}
	.form2_l input[type=button] {
		background-color: #87d54d;
		border: 2px solid #d2d2d2;
		border-radius: 10px;
		color: #4C4C4C;
		font-weight: 700;
		
		height: 60px;
		width: 120%;
		
		
	}
	.form3_l {
		float: left;
		width:60%;
		margin-bottom:20px;
			}
	.form3_l label {
		width: 30%;
		float: left;
	}
	.form6_l {
		margin-left:5%;
		margin-top:20px;
		
	}
	.form6_l input[type="submit"] {
		background-color: #87d54d;
		border: 2px solid #d2d2d2;
		padding: 5px 25px;
		border-radius: 10px;
		color: #4C4C4C;
		font-weight: 700;
		margin:0 auto;
		
	}
	
}
.loginfont
{
		color: #87d54d;
	text-align: center;
	margin-bottom: 1em;
}
.line
{
	border: 2px solid #d2d2d2;
	border-radius:5px;
	width:70%;
	text-align: center;
}