<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"/>
	<typeAliases>
		<typeAlias type="com.board.dao.BoardDTO" alias="Board"/>
		<typeAlias type="com.board.dao.ReBoardDTO" alias="Reply"/>
		<typeAlias type="com.nezip.dao.ZipRegDTO" alias="ZipReg"/>
		<typeAlias type="com.nezip.dao.Room_categoryDTO" alias="Room_category"/>
		<typeAlias type="com.nezip.dao.Fac_kindDTO" alias="Fac_kind"/>
		<typeAlias type="com.nezip.dao.Fac_regDTO" alias="Fac_reg"/>
		<typeAlias type="com.nezip.dao.Home_categoryDTO" alias="Home_category"/>
		<typeAlias type="com.nezip.dao.Home_facDTO" alias="Home_fac"/>
		<typeAlias type="com.nezip.dao.Home_photoDTO" alias="Home_photo"/>
		<typeAlias type="com.reserve.dao.ReserveDTO" alias="Reserve"/>
   		<typeAlias type="com.reserve.dao.ReviewDTO" alias="Review"/>
	</typeAliases>
	<!-- 개발환경 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
			<property name="driver" value="${driver}"/>
			<property name="url" value="${url}"/>
			<property name="username" value="${username}"/>
			<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<mapper resource="com/board/dao/board_mapper.xml"/>
	<mapper resource="com/nezip/dao/nezip_mapper.xml"/>
	<mapper resource="com/reserve/dao/reserve-mapper.xml"/>
	</mappers>
</configuration>